@inject IHttpClientFactory http

<div class="d-flex flex-row">
    <MudAvatar Class="mud-elevation-25">
        <MudIcon Icon="@Icons.Filled.TextFields" Class="mx-4" />
    </MudAvatar>
    <div class="ml-6">
        <MudText Typo="Typo.subtitle1">@instance?.Name</MudText>
        <MudText Typo="Typo.body2">@instance?.Content</MudText>
    </div>
    <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Settings" Color="Color.Default" Class="mud-avatar mud-avatar-small ml-auto mud-elevation-25" />
</div>
@code {
    [Parameter]
    public int InstanceId { get; set; }

    HttpClient? httpClient;
    Data.Text? instance;

    protected override async Task OnInitializedAsync()
    {
        httpClient = http.CreateClient("Foreman.ServerAPI");

        var result = await httpClient.GetAsync($"displayedtext/management/{InstanceId}");

        if (!result.IsSuccessStatusCode)
        {
            //TODO: Komunikat
            return;
        }
        instance = await result.Content.ReadFromJsonAsync<Data.Text>();
    }
}
